.column{
	width:'400px';
	display:inline-block;
}
/*.row{
	width:'400px';
	display:inline-block;
}*/
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
      }
.emptybox{

height: 100px;
width:1000px;
background-color: white;




}