.column{
	width:'400px';
	display:inline-block;
}
/*.row{
	width:'400px';
	display:inline-block;
}*/
.centered {
	/* position: absolute; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
      }
.emptybox{
height: 100px;
width:1000px;
background-color: white;
}

.operation-btn {
	color: purple;
	border: 2px solid purple;
	width: 100%;
	border-radius: 50px;
	padding: 10px;
	margin-top: 20px;
	font-weight: 600;
}
.link-text {
	font-size: 12px;
	color: purple;
}
.link-text-group {
	display: flex;
	justify-content: space-between;
	padding: 5px;
}
.cards {
	margin: 30px 0px;
}
.header {
	display: flex;
    justify-content: center;
    margin: 20px 0px;
    /* background-image: url(./image/volt.png);
    background-repeat: no-repeat; */
}
.header-img {
	width: 100%;
	margin: 30px 0;
}
.card-face {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url(./image/volt.png);
    background-repeat: no-repeat;
    background-size: 50px;
}
.card-image {
	width: 50%;
	margin: 25px auto;
}